<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop - Payment with Paypal</title>
    
</head>
<body>
    <div>
        <h1>{% block title %}Make Payment{% endblock %}</h1>

        {% block content %}
        {% endblock %}

        {% if messages %}
        <url class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>