{% extends 'shop/base.html' %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP</title>

</head>
<body>
    <div>
        <h3>{% block title %}Shop with us.{% endblock %}</h3>
        {% block content %}
            {% if products %}
            <div class='row'>
                {% for product in products %}
                <div class="col-lg-4">
                    <div class="card">
                        <img src="{{product.image.url}}" class="card-img-top" height="" alt="{{product.name}}">
                        <div class="card-body">
                          <h5 class="card-title">{{product.name}}</h5>
                          <p class="card-text">Price: ${{product.price}}</p>
                          <a href="{% url 'process_payment' product.id %}" class="btn btn-outline-primary">Buy now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endblock %}
    </div>
</body>
</html>